/*LBT Planner Style CSS*/

div.canvas-container {
  box-sizing: border-box;
  width: 847px;
  height: 595px;
  float:left;
}
canvas{
  border: solid 3px #000;
}

#control{
  box-sizing: border-box;
  float:left;
  width: 212px;
  height: 595px;
  /*border: solid 3px #000;*/
}
.toutai{
  float:left;
  height: 100px;
  width: 100px;
  border: solid 3px #000;
  text-align: center;
  background-color: rgb(106, 138, 78);
}
.toutai:hover{
  background-color: rgb(99, 10, 252);
}

.canvas-area{
  float:left;
}

#settings{
  box-sizing: border-box;
  /*float:left;*/
  width: 212px;
  height: 595px;
}

#menu{
  box-sizing: border-box;
  /*float:left;*/
  width: 212px;
  height: 56px;
}
.menu-botton{
  float:left;
  width: 100px;
  height: 50px;
  border: solid 3px #000;
  text-align: center;
  background-color: rgb(46, 193, 94);
}
.menu-botton:hover{
  background-color: rgb(17, 73, 29);
}
.side-contents{
  float: left;
}
.settings-botton{
  float:left;
  width: 100px;
  height:100px;
  border: solid 3px #000;
  text-align: center;
  background-color: rgb(46, 144, 193);
}



/*ポップアップ関連*/
.background-popup{
  position: absolute;
  top: 50px;
  left: 300px;

  height: 500px;
  width: 800px;
  background-color: rgb(209, 128, 9);
  display: none;
  opacity: 1;
}

.background-bottom{
  box-sizing: border-box;
  display: block;
  float:left;
  width:350px;
  height:100px;

  margin:30px 25px;

  border: solid 3px #000;
  text-align: center;
  background-color: rgb(106, 46, 193);
}

.background-close-botton{
  display: block;
  float: left;
  padding-left: 720px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size:5em;
}
