/*LBT Planner Style CSS*/

/*ヘッダーバー関連*/
.header-bar{
  height: 60px;
  width: 100%
}
.h-logo{
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  margin-right: 60px;
  border: solid 2px #000;
  float: left;
}
.h-logo-img{
  width: 100%;
  height: 100%;
}
.h-botton{
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border: solid 2px #000;
  display: block;
  float: left;
}
i.h-setting-icon{
  size:10px;
}
.h-zoom-pull-value{
  display: block;
  float: left;
  margin-top:20px;
}
.h-zoom{
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  float: left;
}
.h-zoom-blank{
  box-sizing: border-box;
  height: 30px;
  width: 60px;
  float: left;
}
.h-zoom-p,.h-zoom-m{
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  float: left;
  text-align: center;
  border: solid 2px #000;
  float: left;
}
.h-delete-objects{
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  float: left;
  border: solid 1px #000;
}

/* サイドメニュー関連 */
.side-contents{
  box-sizing: border-box;
  float: left;
  width: 200px;
}
.s-light-parts-title{
  box-sizing: border-box;
  height: 30px;
  width: 200px;
  background-color: #e8e8e8;
  border-top: #e5e5e5 solid 1px;
  border-bottom: #e5e5e5 solid 1px;
  margin-top: 15px;
  padding-left: 5px;
}
.s-light-parts-title-icon{
  float: left;
  padding-left: 5px;
}
.s-light-parts-title-text{
  float: left;
  padding-left: 10px;
}
.s-light-parts-title:hover{
  background-color: #c5c5c5;
}
.s-light-parts-contents{
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  padding: 4px;
  background-color: #e5e5e5;
}
.toutai{
  box-sizing: border-box;
  float:left;
  height: 64px;
  width: 64px;
  text-align: center;
  background-color: #e5e5e5;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
}
.toutai:hover{
  background-color: #c5c5c5;
  border: solid #000 1px;
}
  /* 灯体 */
  .totu{
    background-image: url("./img/totu.png");
    background-size: contain;
  }
  .totu500{
    background-image: url("./img/totu500.png");
    background-size: contain;
  }
  .fure{
    background-image: url("./img/fure.png");
    background-size: contain;
  }
  .fure500{
    background-image: url("./img/fure500.png");
    background-size: contain;
  }
  .par{
    background-image: url("./img/par.png");
    background-size: contain;
  }
  .moving{
    background-image: url("./img/moving.png");
    background-size: contain;
  }
  .strobo{
    background-image: url("./img/strobo.png");
    background-size: contain;
  }
  .source4{
    background-image: url("./img/source4.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
/* メインフィールド */
.canvas-area{
  float:left;
}
div.canvas-container {
  box-sizing: border-box;
  width: 847px;
  height: 595px;
  float:left;
}
canvas{
  border: solid 3px #000;
}
canvas.lower-canvas{
  background:rgb(182, 182, 182);
}

/* 右クリックメニュー */
.right-click-menu{
  display: none;

  position: fixed;
  background: #fff;
}
.right-click-menu td{
  border: 0px  solid;
  margin: 0px;
}
.rc-menu{
  width: 240px;
  height: 30px;
  background: #FFF;
  margin-left: 8px;
}
.icon{
  width: 20px;
}
.text-l{
  width: 80px;
  padding-left: 8px;
}
tr > td:hover{
  background-color: #e5e5e5;
}
/* ポップアップ関連 */
.background-popup{
  position: absolute;
  top: 50px;
  left: 300px;

  height: 500px;
  width: 800px;
  background-color: rgb(209, 128, 9);
  display: none;
  opacity: 1;
}
.background-bottom{
  box-sizing: border-box;
  display: block;
  float:left;
  width:350px;
  height:100px;
  margin:30px 25px;
  border: solid 3px #000;
  background-color: rgb(106, 46, 193);
}
.background-close-botton{
  display: block;
  float: left;
  padding-left: 720px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size:5em;
}

/* プリロード画像 */
.preLoad-img{
  display: none;
}
